<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://com.scalian.rental/1.0"
            class="com.scalian.rental.model.rental.impl.RentalFactoryImpl">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.scalian.rental/1.0"
            class="com.scalian.rental.model.rental.MRentalPackage">
      </package>
   </extension>

</plugin>
