<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.scalian.rental.ui.info"
            class="com.scalian.rental.ui.view.ViewInfo"
            id="com.scalian.rental.ui.info"
            name="info"
            restorable="true">
      </view>
      <category
            id="com.scalian.rental.ui.info"
            name="info">
      </category>
   </extension>

</plugin>
