<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.scalian.rental.ui.info"
            class="com.scalian.rental.ui.view.ViewInfo"
            icon="icons/Rentals.png"
            id="com.scalian.rental.ui.info"
            name="info"
            restorable="true">
      </view>
      <category
            id="com.scalian.rental.ui.info"
            name="info">
      </category>
      <view
            category="com.scalian.rental.ui.info"
            class="com.scalian.rental.ui.view.AgencyView"
            icon="icons/Agency.png"
            id="com.scalian.rental.ui.view.agencyview"
            name="agencyview"
            restorable="true">
      </view>
      <view
            category="com.scalian.rental.ui.info"
            class="com.scalian.rental.ui.view.CustomerInfo"
            icon="icons/Customers.png"
            id="com.scalian.rental.ui.view.customerInfo"
            name="customerInfo"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.scalian.rental.ui.RentalPerspective"
            icon="icons/Agency.png"
            id="com.scalian.rental.ui.rentalPerspective"
            name="rentalPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.scalian.rental.ui.pref.RentalColorPreference"
            class="com.scalian.rental.ui.pref.color"
            id="com.scalian.rental.ui.pref.color"
            name="Default Palette">
      </page>
      <page
            class="com.scalian.rental.ui.pref.RentalColorPreferences"
            id="com.scalian.rental.ui.pref.RentalColorPreference"
            name="Palettes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.scalian.rental.ui.pref.ColorInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.scalian.rental.ui.command.helloworld"
            name="helloworld">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.scalian.rental.ui.handler.HelloWorld"
            commandId="com.scalian.rental.ui.command.helloworld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Rental">
            <command
                  commandId="com.scalian.rental.ui.command.helloworld"
                  label="HelloWorld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.scalian.rental.ui.command.helloworld"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.scalian.rental.ui.view.agencyview?after=additions">
         <menu
               label="Commande">
            <command
                  commandId="com.scalian.rental.ui.command.helloworld"
                  label="Coucou"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.scalian.rental.ui.view.agencyview?after=additions">
         <command
               commandId="com.scalian.rental.ui.command.helloworld"
               icon="icons/Agency.png"
               label="Hello"
               style="push"
               tooltip="Hello World">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.scalian.rental.ui.palette">
      <palette
            id="com.scalian.rental.ui.default"
            name="Default"
            paletteClass="com.scalian.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.scalian.rental.ui.uglyPalette"
            name="Ugly"
            paletteClass="com.scalian.rental.ui.palette.UglyPalette">
      </palette>
   </extension>

</plugin>
