<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.scalian.rental.ui.info"
            class="com.scalian.rental.ui.view.ViewInfo"
            icon="icons/Rentals.png"
            id="com.scalian.rental.ui.info"
            name="info"
            restorable="true">
      </view>
      <category
            id="com.scalian.rental.ui.info"
            name="info">
      </category>
      <view
            category="com.scalian.rental.ui.info"
            class="com.scalian.rental.ui.view.AgencyView"
            icon="icons/Agency.png"
            id="com.scalian.rental.ui.view.agencyview"
            name="agencyview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.scalian.rental.ui.RentalPerspective"
            icon="icons/Agency.png"
            id="com.scalian.rental.ui.rentalPerspective"
            name="rentalPerspective">
      </perspective>
   </extension>

</plugin>
